[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "gl3w"]
	path = gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "ImGuiColorTextEdit"]
	path = ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "libyuv"]
	path = libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "libwebm"]
	path = libwebm
	url = https://chromium.googlesource.com/webm/libwebm
[submodule "libvpx"]
	path = libvpx
	url = https://chromium.googlesource.com/webm/libvpx
[submodule "minimp4"]
	path = minimp4
	url = https://github.com/lieff/minimp4.git
