[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "gl3w"]
	path = gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "ImGuiColorTextEdit"]
	path = ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
